<meta charset="UTF-8"/>
<div id="f">
	<div class="nav top-left-nav">
		<img style="float:left;margin-left:10px;margin-top:5px" src="/ShareIT/imgs/link_icon.png"></img>
		<span style="float:left;margin-left:4px;margin-top:4px;font-size:15px;font-weight:bold;">分类选择：</span>
		<ul>
			<li class="dropdown first-nav"><a href="/knowledge/knowList">全部</a></li>
 			<!-- 这一级是一级的分类 -->
  			<li class="dropdown first-nav" th:each="classify,classifyStat:${classifyList}">
  				<a th:text="${classify.name}" th:href="'/knowledge/knowList/'+${classify.name}"></a>
   			<!-- 这是一级下的二级分类列表 -->
    			<ul class="sec-nav">
     				<li th:each="twoclassify,twoclassifyStat:${classify.child}">
     					<a th:text="${twoclassify.child_name}" th:href="'/knowledge/knowList/'+${twoclassify.child_name}"></a>
     				</li>
    			</ul>
  			</li>
		</ul>
	</div>
	<div class="data_list">
		<div class="data_list_title">
			<img src="/ShareIT/imgs/list_icon.png"></img>
			知识
			<span style="margin-left:10px;">(当前所选：</span>
			<span th:text="${route}"></span>
			<span>)</span>
		</div>
		<div th:each="knowledge,knowledgeStat:${knowledgeList}">
			<input id="know_count" type="hidden" th:value="${knowledge.hot}"></input>
			<div th:id="'show'+${knowledgeStat.index}" style="border-top:1px solid #DDDDDD;">
				<div style="margin-top:8px;">
					<input th:id="'knowId'+${knowledgeStat.index}" type="hidden" th:value="${knowledge.id}"/>
					<span th:style="'margin-left:5px;'+'display:'+ @{(${knowledge.selected}?'inline':'none')}+ ';'" class="label label-danger">精选</span>
					<a style="margin-left:5px;font-size:15px;font-weight:bold;" th:href="'/knowledge/'+${knowledge.id}" th:text="${knowledge.title}" th:title="${knowledge.title}" target="_blank"></a>
					<span th:class="${knowledge.type=='知识'}?'label label-info':'label label-warning'" style="margin-left:10px;" th:text="${knowledge.type}"></span>
					<span style="float:right;font-size:14px;margin-right:10px;" th:text="${#dates.format(knowledge.publishDate,'yyyy-MM-dd hh:mm:ss')}"></span>
				</div>
				<div style="margin-top:10px;">
					<span style="margin-top:15px;margin-left:8px;font-size:14px;color:#999999;" th:text="'发布者：'+${knowledge.publisher}" ></span>
					<span style="margin-top:15px;margin-left:24px;font-size:14px;color:#999999;" th:text="'所属分类：'+${knowledge.classify}" ></span>					
					<i style="margin-left:80px;" class="glyphicon glyphicon-eye-open"/>&nbsp;<span th:text="${knowledge.readCount}"/>
					&nbsp;&nbsp;
					<i class="glyphicon glyphicon-thumbs-up"/>&nbsp;<span th:text="${knowledge.praise}"/>
					&nbsp;&nbsp;
					<i class="glyphicon glyphicon-pencil"/>&nbsp;<span th:text="${knowledge.comment}"/>					
					<div style="float:right;">					
						<input th:id="'collect'+${knowledgeStat.index}" name="collect" th:style="'border-radius:10px;font-size:15px;width:60px;height:30px;'+'background:'+@{(${knowledge.favorite}?'#FF3333':'#FFFFFF')}+''" type="button" th:value="${knowledge.favorite}?'已收藏':'收藏'" th:onclick="'javascript:collect('+${knowledgeStat.index}+')'"></input>					
					</div>
				</div>
				<div style="margin-top:10px;margin-bottom:10px;">
					<span style="margin-left:8px;font-size:15px;color:#888888;" th:text="'简介：'+${knowledge.subhead}"></span>		
				</div>
			</div>
		</div>
		<!--<div>
			<nav>
		  		<ul class="pagination pagination-sm" th:utext="${pageCode }">
		  		</ul>
				</nav>
	 	</div>-->
	</div>
</div>
